{
  "apiVersion": "v1",
  "kind": "Route",
  "metadata": {
    "name": "${TEMP_ROUTE_NAME}",
    "annotations": {
      "openshift.io/generated-by": "openshift-letsencrypt"
    },
    "labels": {
      "butter.sh/letsencrypt-domainname": "$DOMAINNAME",
      "butter.sh/letsencrypt-well-defined": "yes"
    }
  },
  "spec": {
    "host": "$DOMAINNAME",
    "path": "/.well-known/acme-challenge",
    "tls": {
      "termination": "edge",
      "insecureEdgeTerminationPolicy": "Allow"
    },
    "to": {
      "kind": "Service",
      "name": "$LETSENCRYPT_SERVICE_NAME"
    }
  }
}
